
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    padding: 0;
}

:root{
    /*========== Primary colors  ==========*/

    --primary-darkblue-color:hsl(233, 47%, 7%);
    --primary-desaturatedblue-color:hsl(244, 38%, 16%);
    --primary-softviolet-color:hsl(277, 64%, 61%);

    /*========== Neutral  ==========*/
    --neutral-white-color:hsl(0, 0%, 100%);
    --neutral-transparent-paragraph:hsla(0, 0%, 100%, 0.75);
    --neutral-transparent-stats: hsla(0, 0%, 100%, 0.6);

     /*========== Font-Size  ==========*/
     --font-size: 15px;
     --font-weight-normal-inter: 400;
     --font-weight-bold-inter: 700;
     --font-weight-bold-Lexend: 400;

     --font-family-inter: 'Inter', sans-serif;
     --font-family-Lexend: 'Lexend Deca', sans-serif;
}

.card-container{
    background-color: var(--primary-darkblue-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.card-box-flex{
    background-color: var(--primary-desaturatedblue-color);
    display: flex;
    flex-direction: row;
    width: 1110px;
    height: 450px;
    overflow: hidden;
    border-radius: 8px;
}
.card-info{
    margin-top: 80px;
    margin-bottom: 65px;
    margin-left: 74px;
    margin-right: 74px;
}
.card-info-text > h1{
    font-family: var(--font-family-Lexend);
    color: var(--neutral-white-color);
    font-size: 35px;
}
.card-info-text > h1 > span{
    color:var(--primary-softviolet-color);
}
.img-container{
    background-color: var(--primary-softviolet-color);
    background-image: url("/images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: multiply;
}
